@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fafafa;
  --foreground: #09090b; /* zinc-950 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

::selection {
  background: #09090b;
  color: #fff;
}
